[submodule "fedora/php-channel-symfony2"]
	path = fedora/php-channel-symfony2
	url = ssh://pkgs.fedoraproject.org/php-channel-symfony2.git
[submodule "fedora/php-symfony2-ClassLoader"]
	path = fedora/php-symfony2-ClassLoader
	url = ssh://pkgs.fedoraproject.org/php-symfony2-ClassLoader.git
[submodule "fedora/php-symfony2-Config"]
	path = fedora/php-symfony2-Config
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Config.git
[submodule "fedora/php-symfony2-Console"]
	path = fedora/php-symfony2-Console
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Console.git
[submodule "fedora/php-symfony2-CssSelector"]
	path = fedora/php-symfony2-CssSelector
	url = ssh://pkgs.fedoraproject.org/php-symfony2-CssSelector.git
