[submodule "fedora/php-channel-symfony2"]
	path = fedora/php-channel-symfony2
	url = ssh://pkgs.fedoraproject.org/php-channel-symfony2.git
[submodule "fedora/php-symfony2-ClassLoader"]
	path = fedora/php-symfony2-ClassLoader
	url = ssh://pkgs.fedoraproject.org/php-symfony2-ClassLoader.git
[submodule "fedora/php-symfony2-Config"]
	path = fedora/php-symfony2-Config
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Config.git
[submodule "fedora/php-symfony2-Console"]
	path = fedora/php-symfony2-Console
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Console.git
[submodule "fedora/php-symfony2-CssSelector"]
	path = fedora/php-symfony2-CssSelector
	url = ssh://pkgs.fedoraproject.org/php-symfony2-CssSelector.git
[submodule "fedora/php-symfony2-DependencyInjection"]
	path = fedora/php-symfony2-DependencyInjection
	url = ssh://pkgs.fedoraproject.org/php-symfony2-DependencyInjection.git
[submodule "fedora/php-symfony2-DomCrawler"]
	path = fedora/php-symfony2-DomCrawler
	url = ssh://pkgs.fedoraproject.org/php-symfony2-DomCrawler.git
[submodule "fedora/php-symfony2-EventDispatcher"]
	path = fedora/php-symfony2-EventDispatcher
	url = ssh://pkgs.fedoraproject.org/php-symfony2-EventDispatcher.git
[submodule "fedora/php-symfony2-Finder"]
	path = fedora/php-symfony2-Finder
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Finder.git
[submodule "fedora/php-symfony2-Form"]
	path = fedora/php-symfony2-Form
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Form.git
[submodule "fedora/php-symfony2-HttpFoundation"]
	path = fedora/php-symfony2-HttpFoundation
	url = ssh://pkgs.fedoraproject.org/php-symfony2-HttpFoundation.git
[submodule "fedora/php-symfony2-HttpKernel"]
	path = fedora/php-symfony2-HttpKernel
	url = ssh://pkgs.fedoraproject.org/php-symfony2-HttpKernel.git
[submodule "fedora/php-symfony2-Locale"]
	path = fedora/php-symfony2-Locale
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Locale.git
[submodule "fedora/php-symfony2-Process"]
	path = fedora/php-symfony2-Process
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Process.git
[submodule "fedora/php-symfony2-Routing"]
	path = fedora/php-symfony2-Routing
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Routing.git
[submodule "fedora/php-symfony2-Security"]
	path = fedora/php-symfony2-Security
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Security.git
[submodule "fedora/php-symfony2-Serializer"]
	path = fedora/php-symfony2-Serializer
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Serializer.git
[submodule "fedora/php-symfony2-Templating"]
	path = fedora/php-symfony2-Templating
	url = ssh://pkgs.fedoraproject.org/php-symfony2-Templating.git
